form {
    margin-top: 0;
}
.autocomplete {
    position: absolute;
    background: #fff;
    width: 100%;
    z-index: 5;
    box-shadow: 0 3px 10px RGBa(0,0,0,0.1);
    display: none;
}
body.dark .autocomplete {
    background: #444;
}
.autocomplete .user,
.autocomplete p {
    padding: 10px;
    font-size: 17px;
}
.autocomplete .user:hover {
    background: #f7f7f7;
    cursor: pointer;
}
body.dark .autocomplete .user:hover {
    background: #4d4d4d;
}
.edit {
    transition: 0.25s ease;
    opacity: 0;
    cursor: pointer;
    position: relative;
    left: 20px;
}
.edit:hover {
    color: #333;
}
body.dark .edit:hover {
    color: #ddd;
}
.info:hover .edit {
    opacity: 1;
}
.left-area .block {
    padding: 0;
    box-shadow: none;
}
body.dark .left-area .block {
    background-color: #383838;
}
.left-area .block a {
    color: #777;
    display: block;
    padding: 10px;
    position: relative;
    background: #f4f4f4;
}
body.dark .left-area .block a {
    color: #aaa;
    background: #3d3d3d;
}
.left-area .block a:hover,
.left-area .block a.current {
    background: #eee;
}
body.dark .left-area .block a:hover,
body.dark .left-area .block a.current {
    background: #333;
}
.left-area .block a.current {
    opacity: 1;
}
.left-area .block a.current::after {
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    right: 10px;
}
