.change h2 {
    font-weight: 300;
    margin: 10px 0;
}
.change-link span {
    position: relative;
    z-index: 1;
    color: #777;
    transition: 0.1s linear;
}
.change-link::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 0;
    height: 0;
    background: #3893e8;
    border-radius: 50%;
    transition: 0.1s ease;
}
.change-link:hover::after {
    width: 150%;
    height: 150%;
}
.change-link:hover span {
    color: #fff !important;
}
.description {
    font-size: 15px;
    color: #888;
}
.change li {
    list-style-type: none;
    margin-top: 10px;
}
.change li::before {
    content: "\f00c";
    font-family: "FontAwesome";
    margin-right: 8px;
}
.more {
    margin-top: 20px;
}
.do-stuff {
    padding: 0 !important;
}
.do-stuff a {
    color: #777;
    display: block;
    background: #fff;
    padding: 10px;
}
.do-stuff a:hover {
    background: #eee;
}
