.change h2 {
    font-weight: 300;
    margin: 10px 0;
}
.description {
    font-size: 15px;
    color: #888;
}
body.dark .description {
    color: #aaa;
}
.change li {
    list-style-type: none;
    margin-top: 10px;
}
.change li::before {
    content: "\f00c";
    font-family: "FontAwesome";
    margin-right: 8px;
}
.more {
    margin-top: 20px;
}
.page .do-stuff {
    padding: 0;
}
.do-stuff a {
    color: #777;
    display: block;
    background: #fff;
    padding: 10px;
}
body.dark .do-stuff a {
    background: #444;
    color: #aaa;
}
.do-stuff a:hover {
    background: #eee;
}
body.dark .do-stuff a:hover {
    background: #555;
}
