* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #eee;
}

/* Global styles */

a {
    color: #3893e8;
    text-decoration: none;
    transition: 0.25s ease;
}
a:hover {
    color: #1d7bd3;
}
button:active {
    outline: none;
}
.right {
    float: right;
}
.state {
    display: inline-block;
    vertical-align: middle;
}
.state.online {
    color: #71bd74;
}
.state.offline {
    color: #898e8a;
}
/* .uilink styling */

.uilink {
    color: #444;
    font-weight: 400;
}
.uilink:hover {
    color: #555;
}
.uilink::after {
    display: none !important;
}
.uilink .state {
    font-size: 13px;
}

/* .button styling */

.button {
    padding: 10px;
    display: inline-block;
    border: none;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    transition: .25s ease !important;
    top: 0;
    font-family: sans-serif !important;
}
.button.full {
    display: block;
    width: 100%;
}
.button.red {
    background: RGBa(225,0,0,0.1);
    color: #777;
}
.button span {
    z-index: 2;
    position: relative;
    transition: .25s color linear;
    color: #555;
}
.button::after {
    content: "";
    display: block;
    position: absolute;
    height: 100% !important;
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: .25s ease !important;
}
.button.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.button.disabled:hover {
    box-shadow: none;
    top: 0;
}
.button.disabled:hover span {
    color: #333;
}
.button.disabled:after {
    background: #f9f9f9 !important;
}
.button.nocolor::after {
    background: #f4f4f4 !important;
}
.button.blue::after {
    background: #3893e8 !important;
}
.button.red::after {
    background: #e84438 !important;
}
.button.green::after {
    background: #4caf50 !important;
}
.button:hover {
    box-shadow: 0 3px 5px RGBa(0,0,0,0.3);
    top: -3px;
}
.button:hover span {
    color: #fff;
}
.button.nocolor:hover span {
    color: #555;
}
.button:hover::after {
    width: 100%;
}
.button:active {
    outline: none;
    box-shadow: 0 1px 5px RGBa(0,0,0,0.3);
}

/* .userinfo-box */

.userinfo-box {
    position: absolute;
    background: #fff;
    font-weight: 100;
    border: 1px solid #eee;
    box-shadow: 0 0 5px RGBa(0,0,0,0.2);
    width: 150px;
    z-index: 10;
    display: none;
}
.userinfo-box .ui-top {
    padding: 3px;
    border-bottom: 1px solid #eee;
}
.userinfo-box .top .uilink {
    display: block !important;
    width: 70px !important;
}
.userinfo-box .loading-container {
    padding: 10px;
    display: relative;
    height: 40px;
}
.userinfo-box .padding {
    padding: 10px;
}
.userinfo-box .padding.no-account {
    min-height: 40px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: #888;
}
.userinfo-box .loading-container .loader {
    height: 20px;
    width: 20px;
    border: 2px solid transparent;
    border-right-color: #3893e8;
    border-bottom-color: #3893e8;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: 0.8s rotate linear infinite;
}
@keyframes rotate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

/* 'Topbar' */

.top .top-navigation .main-links,
.top .top-navigation .main-links .main-dropdown,
.top .top-navigation .main-links a,
.top .top-navigation .main-links .main-dropdown .dropdown a,
.top .top-navigation .icon-links a,
.page .main {
    display: inline-block;
}
.top, .page, footer {
    width: 50%;
    height: auto;
    margin: 10px auto;
}
.top a::after {
    display: none;
}
.top .top-above {
    margin-bottom: 5px;
}
.top .top-above a {
    transition: none;
}
.top .top-above .learnchess-link {
    font-size: 20px;
    color: #777;
    font-weight: 100;
}
.top .top-above .learnchess-link .extension {
    color: #555;
}
.top .top-above .learnchess-link:hover {
    color: #555;
}
.top .top-above .profile-link {
    color: #555;
}
.top .top-above .profile-link:hover {
    color: #222;
}
.top .top-navigation {
    background: #eaeaea;
}
.top .top-navigation .main-links {
    font-size: 0;
}
.top .top-navigation .main-links a {
    padding: 20px;
    color: #333;
    font-weight: 500;
    position: relative;
    font-size: 16px;
}
.top .top-navigation .main-links a:hover {
    background: #e7e7e7;
}
.top .top-navigation .main-links .main-dropdown,
.top .top-navigation .icon-links .icon-dropdown {
    position: relative;
}
.top .top-navigation .main-links .main-dropdown .dropdown,
.top .top-navigation .icon-links .icon-dropdown .dropdown {
    position: absolute;
    background: #eaeaea;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s linear;
    width: 200px;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 10;
}
.top .top-navigation .main-links .main-dropdown .dropdown a,
.top .top-navigation .icon-links .icon-dropdown .dropdown a {
    padding: 10px;
    width: 50%;
    text-align: center;
    color: #888;
    font-weight: 100;
}
.top .top-navigation .main-links .main-dropdown .dropdown a:hover,
.top .top-navigation .icon-links .icon-dropdown .dropdown a:hover {
    color: #555;
}
.top .top-navigation .main-links .main-dropdown > a:hover + .dropdown,
.top .top-navigation .icon-links .icon-dropdown > a:hover + .dropdown,
.top .top-navigation .main-links .main-dropdown:hover .dropdown,
.top .top-navigation .icon-links .icon-dropdown:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.top .top-navigation .icon-links {
    float: right;
}
.top .top-navigation .icon-links a {
    padding: 20px;
    color: #555;
}
.top .top-navigation .icon-links .icon-dropdown .dropdown {
    right: 0;
    width: 100px;
    z-index: 10;
}
.top .top-navigation .icon-links .icon-dropdown .dropdown a {
    display: block;
    width: 100%;
}

/* .page */

.page {
    color: #777;
}
.page .main a:not(.uilink),
footer a {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.page .main a {
    position: relative;
}
.page .main a::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 0;
    bottom: 0;
    left: 0;
    transition: 0.1s linear;
    background: #3893e8;
}
.page .main a:hover::after {
    width: 100%;
}
.page .main {
    width: 70%;
}
.page .main.center {
    margin: 30px auto;
    display: block;
}
.page .main.full {
    width: 100%;
}
.page .right-area,
.page .left-area {
    width: 27%;
}
.page .right-area {
    float: right;
}
.page .left-area {
    display: inline-block;
}
.page .block {
    background: #fff;
    box-shadow: 0 0 5px RGBa(0,0,0,0.1);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 3px;
    overflow: hidden;
}
.page .block.transparent {
    background: transparent;
    box-shadow: none;
}
.page .block .block-title {
    font-weight: 100;
    color: #444;
    margin: 10px 0;
}
.page .left-area .block .block-title,
.page .right-area .block .block-title {
    font-size: 25px;
}
.page .block .block-title.center {
    text-align: center;
}
.page .block .block-title .alternate {
    font-size: 13px;
    float: right;
}
.page .block .block-title .alternate .alt-text,
.page .block .block-title .alternate .button {
    vertical-align: middle;
} 
.page .block .block-title .alternate .alt-text {
    display: inline-block;
    padding: 10px;
}
.page .nothing-to-see {
    color: #aaa;
    text-transform: uppercase;
    font-weight: 100;
}
.page .main .nothing-to-see {
    font-size: 15px;
}
.page .right-area .nothing-to-see,
.page .left-area .nothing-to-see {
    font-size: 13px;
    text-align: center;
}
/* Other */

.site-message {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: #3893e8;
    background: #d9d9d9;
    left: 0;
    z-index: 10;
}
.site-message a {
    color: #1988ea;
    font-size: 15px;
}
.site-message a:hover {
    color: #3893e8;
}
.site-message span {
    color: #3893e8;
    font-size: 20px;
}
.site-message .message-type {
    margin-right: 10px;
}
.site-message .close {
    position: absolute;
    right: 20px;
    cursor: pointer;
}
.site-message .fa-close:hover {
    color: #ddd;
}
