* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #eee;
}

/* Global styles */

a {
    color: #3893e8;
    text-decoration: none;
    transition: 0.25s ease;
}
a:hover {
    color: #1d7bd3;
}
button:focus {
    outline: none;
}
.right {
    float: right;
}
.state {
    display: inline-block;
    vertical-align: middle;
}
.state.online {
    color: #71bd74;
}
.state.offline {
    color: #898e8a;
}
.nothing-to-see {
    color: #aaa;
    text-transform: uppercase;
    font-weight: 100;
}
.nothing-to-see.lower {
    text-transform: none;
}
/* .uilink styling */

.uilink {
    color: #444;
    font-weight: 400;
}
.uilink:hover {
    color: #555;
}
.uilink::after {
    display: none;
}
.uilink .state {
    font-size: 13px;
}

/* loader */

.loader {
    height: 20px;
    width: 20px;
    border: 2px solid transparent;
    border-right-color: #3893e8;
    border-bottom-color: #3893e8;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: 0.8s rotate linear infinite;
}
@keyframes rotate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

/* .button styling */

.button, .flat-button {
    padding: 10px;
    display: inline-block;
    border: none;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    top: 0;
    font-family: sans-serif;
    background: transparent;
}
.button {
    transition: .25s ease;
}
.button.full, .flat-button.full {
    display: block;
    width: 100%;
}
.button.red {
    background: RGBa(225,0,0,0.1);
    color: #777;
}
.button span {
    z-index: 2;
    position: relative;
    transition: .25s color linear;
    color: #555;
}
.button::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: .25s ease;
}
.button.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.button.disabled:hover {
    box-shadow: none;
    top: 0;
}
.button.disabled:hover span {
    color: #333;
}
.button.disabled::after {
    background: #f9f9f9;
}
body.dark .button.disabled::after {
    background: #393939;
}
.button.nocolor::after {
    background: #f4f4f4;
}
body.dark .button.nocolor::after {
    background: #343434;
}
.button.blue::after {
    background: #3893e8;
}
.button.red::after {
    background: #e84438;
}
.button.green::after {
    background: #4caf50;
}
.button:hover {
    box-shadow: 0 3px 5px RGBa(0,0,0,0.3);
    top: -3px;
}
.button:hover span {
    color: #fff;
}
.button.nocolor:hover span {
    color: #555;
}
.button:hover::after {
    width: 100%;
}
.button:focus {
    outline: none;
    box-shadow: 0 1px 5px RGBa(0,0,0,0.3);
}

/* .flat-button */

.flat-button {
    border-radius: 0;
    color: #555;
    text-align: center;
    transition: none;
}
.flat-button.transition {
    transition: 0.25s ease;
}
.flat-button:hover {
    background: RGBa(0,0,0,0.1);
}
.flat-button.blue:hover {
    background: #3893e8;
    color: #fff;
}
.flat-button.green:hover {
    background: #4caf50;
    color: #fff;
}
.flat-button:active {
    box-shadow: inset 0 0 3px RGBa(0,0,0,0.5);
}
.flat-button::after {
    content: none;
}

/* [data-hint] */

[data-hint] {
    position: relative;
    display: inline-block;
}
[data-hint].hint-text-center::after {
    text-align: center;
}
[data-hint]::after {
    content: attr(data-hint);
    opacity: 0;
    margin-top: -5px;
    transition: 0.1s ease;
    display: block;
    position: absolute;
    font-size: 13px;
    background: RGBa(0,0,0,0.5);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%) scale(0.7);
    z-index: 15;
    min-width: 100%;
    pointer-events: none;
    font-family: sans-serif;
}
[data-hint]:hover::after {
    opacity: 1;
    margin-top: 0;
    transform: translateX(-50%) scale(1);
}

/* [data-count] */

[data-count] {
    position: relative;
}
[data-count]::after {
    content: attr(data-count);
    position: absolute;
    font-family: "Roboto",sans-serif;
    background: #3893e8;
    color: #fff;
    padding: 3px;
    font-size: 13px;
    border-radius: 3px;
    text-shadow: 1px 1px #888;
    right: -4px;
    top: -7px;
    pointer-events: none;
}

/* .userinfo-box */

.userinfo-box {
    position: absolute;
    background: #fff;
    font-weight: 100;
    box-shadow: 0 0 5px RGBa(0,0,0,0.2);
    width: 150px;
    z-index: 10;
    display: none;
}
.userinfo-box .ui-top {
    padding: 5px;
    border-bottom: 1px solid #eee;
}
.userinfo-box .loading-container {
    padding: 10px;
    display: relative;
    height: 40px;
}
.userinfo-box .padding {
    padding: 10px;
    color: #777;
}
body.dark .userinfo-box .padding {
    color: #aaa;
}
.userinfo-box .padding.no-account {
    min-height: 40px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: #888;
}
.userinfo-box .padding.no-account.not-found {
    height: 30px;
}
.userinfo-box .admin-buttons {
    margin: 0;
    display: flex;
}
.userinfo-box .admin-buttons .flat-button {
    flex-grow: 1;
    padding: 5px;
}

/* #Popup */

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    background: #fff;
    z-index: 20;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
    box-shadow: 0 0 50px RGBa(0,0,0,0.3);
    color: #555;
    font-weight: 100;
    min-width: 300px;
}
#popup .popup-title {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #777;
    margin: 0;
    padding: 10px;
    background: #f9f9f9;
}
#popup .popup-content {
    padding: 5px;
}
#popup .button.full {
    margin-top: 5px;
}
#popup .cancel {
    color: #888;
    margin-left:  10px;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
}
#popup .cancel:hover {
    color: #3893e8;
}

/* 'Topbar' */

.top .top-navigation .main-links,
.top .top-navigation .main-links .main-dropdown,
.top .top-navigation .main-links a,
.top .top-navigation .main-links .main-dropdown .dropdown a,
.top .top-navigation .icon-links .icon ,
.page .main {
    display: inline-block;
}
.top, .page, footer {
    width: 50%;
    height: auto;
    margin: 10px auto;
}
.top .top-above {
    margin-bottom: 5px;
}
.top .top-above a {
    transition: none;
}
.top .top-above .learnchess-link {
    font-size: 20px;
    color: #777;
    font-weight: 100;
}
.top .top-above .learnchess-link .extension {
    color: #555;
}
.top .top-above .learnchess-link:hover {
    color: #555;
}
.top .top-above .profile-link {
    color: #555;
}
.top .top-above .profile-link:hover {
    color: #222;
}
.top .top-navigation {
    background: #eaeaea;
}
.top .top-navigation .main-links {
    font-size: 0;
}
.top .top-navigation .main-links a {
    padding: 20px;
    color: #555;
    font-weight: 500;
    position: relative;
    font-size: 16px;
}
.top .top-navigation .main-links a:hover {
    background: #e3e3e3;
}
.top .top-navigation .main-links .main-dropdown,
.top .top-navigation .icon-links .icon-dropdown {
    position: relative;
    display: inline-block;
}
.top .top-navigation .main-links .main-dropdown .dropdown,
.top .top-navigation .icon-links .icon-dropdown .dropdown {
    position: absolute;
    background: #eaeaea;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s linear;
    width: 200px;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 10;
}
.top .top-navigation .main-links .main-dropdown .dropdown a,
.top .top-navigation .icon-links .icon-dropdown .dropdown a {
    padding: 10px;
    width: 50%;
    color: #888;
    font-weight: 100;
}
.top .top-navigation .main-links .main-dropdown .dropdown a:hover,
.top .top-navigation .icon-links .icon-dropdown .dropdown a:hover {
    color: #555;
}
.top .top-navigation .main-links .main-dropdown > a:hover + .dropdown,
.top .top-navigation .icon-links .icon-dropdown > a:hover + .dropdown,
.top .top-navigation .main-links .main-dropdown:hover .dropdown,
.top .top-navigation .icon-links .icon-dropdown:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.top .top-navigation .icon-links {
    float: right;
}
.top .top-navigation .icon-links .icon {
    padding: 19px;
    color: #555;
    cursor: pointer;
    font-size: 20px;
}
.top .top-navigation .icon-links .icon::after {
    top: 50px;
}
.top .top-navigation .icon-links .icon-dropdown .n-container {
    position: absolute;
    width: 200px;
    right: 0;
    background: #fff;
    margin-top: 15px;
    box-shadow: 0 0 10px RGBa(0,0,0,0.2);
    display: none;
    z-index: 10;
}
.top .top-navigation .icon-links .icon-dropdown .n-container::before {
    content: "";
    border: 10px solid transparent;
    border-bottom-color: #fff;
    height: 0;
    width: 0;
    position: absolute;
    top: -20px;
    right: 20px;
    z-index: 1;
}
.top .top-navigation .icon-links .icon-dropdown .n-container::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    box-shadow: 0 0 10px RGBa(0,0,0,0.5);
    transform: rotate(-45deg);
    top: -7px;
    right: 25px;
    z-index: -1;
}
.top .top-navigation .icon-links .icon-dropdown .n-container .nothing-to-see {
    text-align: center;
    text-transform: none;
    background: #fff;
    position: relative;
    display: block;
    margin: 0;
    padding: 20px;
}
.top .top-navigation .icon-links .icon-dropdown .n-container .flat-button {
    padding: 5px;
    display: block;
    color: #777;
    width: 100%;
    font-weight: 100;
}
.top .top-navigation .icon-links .icon-dropdown .n-container .flat-button:hover {
    background: #f7f7f7;
}
.top .top-navigation .icon-links .icon-dropdown .n-container .inner-container {
    max-height: 171px;
    overflow: auto;
}
.top .top-navigation .icon-links .icon-dropdown .n-container .inner-container::-webkit-scrollbar {
    background: #fff;
    width: 10px;
}
.top .top-navigation .icon-links .icon-dropdown .n-container .inner-container::-webkit-scrollbar-thumb {
    background: #eee;
}
.top .top-navigation .icon-links .icon-dropdown .n-container .inner-container::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}
.top .top-navigation .icon-links .icon-dropdown .n-container .inner-container .notification {
    padding: 10px;
    color: #555;
    font-weight: 100;
    border-bottom: 1px solid #eee;
    background: #fff;
    transition: none;
    display: block;
}
.top .top-navigation .icon-links .icon-dropdown .n-container .inner-container .notification:hover,
.top .top-navigation .icon-links .icon-dropdown .n-container .inner-container .notification.read,
.top .top-navigation .icon-links .icon-dropdown .n-container .inner-container .flat-button:hover {
    background: #f8f8f8;
}
.top .top-navigation .icon-links .icon-dropdown .n-container .inner-container .notification .icon-type {
    font-size: 40px;
    float: left;
    margin-right: 10px;
    color: #aaa; 
}
.top .top-navigation .icon-links .icon-dropdown .dropdown {
    right: 0;
    width: 100px;
    z-index: 10;
}
.top .top-navigation .icon-links .icon-dropdown .dropdown a {
    display: block;
    width: 100%;
}

/* .page */

.page {
    color: #777;
    display: flex;
    justify-content: space-between;
}
.page .main a:not(.uilink):not(.flat-button):not(.button) {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}
.page .main a {
    position: relative;
}
.page .main {
    width: 70%;
}
.page .main.center {
    margin: 30px auto;
    display: block;
}
.page .main.full {
    width: 100%;
}
.page .right-area,
.page .left-area {
    width: 27%;
}
.page .left-area {
    display: inline-block;
}
.page .block {
    background: #fff;
    box-shadow: 0 0 5px RGBa(0,0,0,0.1);
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 3px;
}
.page .block.no-padding {
    padding: 0;
}
.page .block.transparent {
    background: transparent;
    box-shadow: none;
}
.page .block .block-title {
    font-weight: 100;
    color: #444;
    margin: 10px 0;
}
.page .left-area .block .block-title,
.page .right-area .block .block-title {
    font-size: 25px;
}
.page .block .block-title.center {
    text-align: center;
}
.page .block .block-title .alternate {
    font-size: 13px;
    float: right;
}
.page .block .block-title .alternate .alt-text,
.page .block .block-title .alternate .button {
    vertical-align: middle;
} 
.page .block .block-title .alternate .alt-text {
    display: inline-block;
    padding: 10px;
}
.page .main .nothing-to-see {
    font-size: 15px;
}
.page .right-area .nothing-to-see,
.page .left-area .nothing-to-see {
    font-size: 13px;
    text-align: center;
}

/* Board container */

.board-container {
    width: 10vw;
    display: inline-block;
    margin: 5px;
}
.board-container .board {
    width: 10vw;
    height: 10vw;
    display: block;
    overflow: hidden;
}
.board-container .board::after {
    display: none;
}
.board-container .credits {
    padding: 5px;
    color: #999;
    font-weight: 100;
    font-family: "Roboto",sans-serif;
    border: 1px solid #eee;
    transition: 0.1s linear;
}
.board-container .board:hover + .credits {
    background: #f3f3f3;
}

/* Footer */

footer {
    margin: 20px auto;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    color: #555;
}
body.dark footer {
    border-color: #555;
}
footer a {
    font-family: sans-serif;
    color: #777;
    font-weight: 100;
}
footer .site-name {
    font-size: 20px;
}

/* Other */

.countdown {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: block;
    padding: 10px;
}
.countdown .timer-icon {
    color: #777;
    background: #ddd;
    padding: 5px;
    font-size: 20px;
    border-radius: 50%;
    transition: 0.25s ease;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 33px;
    width: 33px
}
.countdown .timer-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.countdown .timer-icon:hover {
    color: #444;
}
.countdown .timeleft {
    position: relative;
    right: 10px;
    color: #555;
    background: #ddd;
    padding: 4px;
    border-radius: 4px;
    transition: 0.25s ease;
    opacity: 0;
    pointer-events: none;
}
.countdown .timer-icon:hover + .timeleft {
    right: 30px;
    opacity: 1;
}

@media (max-width: 1450px) {
    .top, .page, footer {
        width: 60%;
    }
}
@media (max-width: 1300px) {
    .top, .page, footer {
        width: 65%;
    }
}
