form {
    margin-top: 50px;
    display: block;
}
form .input-container {
    min-height: 50px;
    margin-top: 30px;
    display: block;
    position: relative;
}
form .input-container.half {
    display: inline-block;
    width: 47%;
}
form .input-container input,
form .input-container textarea {
    display: block;
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
    font-size: 15px;
    color: #555;
}
form .input-container textarea {
    resize: vertical;
}
form .input-container textarea::-webkit-scrollbar {
    background: #fff;
    width: 10px;
}
form .input-container textarea::-webkit-scrollbar-thumb {
    background: #f7f7f7;
}
form .input-container textarea::-webkit-scrollbar-thumb:hover {
    background: #eee;
}
form .input-container textarea::-webkit-scrollbar-thumb:active {
    background: #d7d7d7;
}
form .input-container label {
    position: absolute;
    top: -20px;
    color: #aaa;
    transition: 0.25s linear;
    font-weight: 100;
}
form .input-container .line {
    display: block;
    height: 2px;
    background: #3893e8;
    position: relative;
    top: -2px;
    transition: 0.25s ease;
    margin: auto;
    width: 0;
}
form .input-container input:focus + label,
form .input-container textarea:focus + label {
    color: #3893e8;
}
form .input-container input:focus ~ .line,
form .input-container textarea:focus ~ .line {
    width: 100%;
}
form .input-response {
    position: relative;
    top: -10px;
    font-weight: 400;
}
form .input-response:first-letter {
    text-transform: uppercase;
}
form .input-response.valid {
    color: #4caf50;
}
form .input-response.valid::before {
    font-family: "FontAwesome";
    content: "\f00c";
}
form .input-response.invalid {
    color: #e84438;
}
form .input-response.invalid::before {
    font-family: "FontAwesome";
    content: "\f00d";
}
form p {
    color: #999;
    font-weight: 100;
    margin: 5px 0;
}
