.container {
    margin-top: 20px;
}
.notif {
    padding: 10px;
    font-size: 18px;
    font-weight: 100;
    position: relative;
}
.notif form {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    z-index: 5;
}
.notif.read {
    background: #f7f7f7;
}
body.dark .notif.read {
    background: #4f4f4f;
}
.notif:not(.read):hover {
    background: #fdfdfd;
}
body.dark .notif:not(.read):hover {
    background: #484848;
}
.notif:not(.read):hover .mark-read {
    color: #555;
}
body.dark .notif:not(.read):hover .mark-read {
    color: #aaa;
}
.notif-icon {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
}
.mark-read {
    cursor: pointer;
    color: #eee;
}
body.dark .mark-read {
    color: #686868;
}
.mark-read::after {
    min-width: 100px;
}
