.about {
    margin-top: 20px;
    font-weight: 100;
    padding-top: 10px;
}
.name {
    font-size: 20px;
    margin: 5px 0;
    color: #555;
    font-weight: 100;
    font-family: "Roboto";
}
body.dark .name {
    color: #aaa;
}
.main .block-title {
    margin: 5px 5px 7px 5px !important;
    color: #777 !important;
}
body.dark .main .block-title {
    color: #999 !important;
}
.main .block-title .state {
    font-size: 40px;
}
.info-bar {
    display: flex;
}
.info-bar .info {
    flex-grow: 1;
    background: #fafafa;
    padding: 10px;
    text-align: center;
    position: relative;
}
body.dark .info-bar .info {
    background: #555;
}
.info-bar a.info {
    color: #888;
    transition: none;
}
body.dark .info-bar a.info {
    color: #ccc;
}
.info-bar a.info:hover {
    background: #f1f1f1;
}
body.dark .info-bar a.info:hover {
    background: #4f4f4f;
}
.info-bar .info .info-title {
    display: block;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}
.other-profile-link {
    color: #888;
    font-weight: 400;
    display: block;
}
.puzzle-list {
    text-align: center;
}
