.about {
    margin-top: 20px;
    font-weight: 100;
    border-top: 1px solid #eee;
    padding-top: 10px;
}
.name {
    font-size: 20px;
    margin: 5px 0;
    color: #555;
    font-weight: 100;
    font-family: "Roboto";
}
.main .block-title {
    margin: 5px 5px 7px 5px !important;
    color: #777 !important;
}
.main .block-title .state {
    font-size: 20px;
}
