.accepted-puzzles {
    text-align: center;
}
.accepted-puzzles h2 {
    font-weight: 100;
}
.puzzles-to-review {
    margin-top: 30px;
    display: block;
    width: 100%;
}
.puzzles-to-review tbody tr td {
    padding: 5px;
}
.puzzles-to-review form {
    display: inline-block;
}
.puzzles-to-review form .button:hover {
    top: 0;
    box-shadow: none;
}
.puzzles-to-review form .flat-button {
    height: 40px;
    width: 40px;
    display: block;
}
.your-puzzles h3 {
    font-weight: 100;
    color: #333;
    font-size: 20px;
    margin: 10px 0;
}
body.dark .your-puzzles h3 {
    color: #ccc;
}
.your-puzzles .puzzle {
    display: block;
    font-family: "Roboto";
    font-weight: 100;
}
#chessground {
    width: 500px;
    height: 500px;
    margin: 10px auto;
    border-radius: 3px;
    overflow: hidden;
}
.editor-container {
    margin: 30px 0;
}
.editor-container .disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.editor-container .spare,
.editor-container .board,
.editor-container .tools {
    margin: auto;
    width: 300px;
}
.editor-container .spare {
    height: 50px;
    background: #f8f8f8;
    display: flex;
}
body.dark .editor-container .spare {
    background: #606060;
}
.editor-container .spare piece {
    height: 100%;
    flex-grow: 1;
    cursor: pointer;
}
.editor-container .spare.disabled piece {
    pointer-events: none;
}
.editor-container .spare .selectedPiece {
    background-color: RGBa(0,0,0,0.1);
    box-shadow: inset 0 0 5px RGBa(0,137,255,0.3);
}
.editor-container .board {
    height: 300px;
}
.editor-container .tools {
    background: #eee;
    display: flex;
}
body.dark .editor-container .tools {
    background: #555;
}
.editor-container .tools .btn {
    flex-grow: 1;
    color: #555;
    position: relative;
}
.editor-container .tools .btn .flat-button {
    height: 100%;
    width: 100%;
}
#copyings {
    margin-bottom: 20px;
    transition: 0.25s linear;
}
.copyings h3 {
    font-family: "Roboto";
    font-weight: 100;
    margin: 5px;
}
.copyings p {
    margin: 10px 5px;
    font-family: "Roboto";
    font-weight: 100;
    word-break: break-all;
}
.page .block.feedback {
    padding: 0;
    margin-top: 140px;
    margin-bottom: 20px;
    background: transparent;
}
.feedback #response {
    padding: 25px 30px;
    font-size: 20px;
    border-radius: 3px;
}
.feedback #response.neutral {
    background: #fff;
}
body.dark .feedback #response.neutral {
    background: #444;
}
.hidden {
    opacity: 0;
    pointer-events: none;
}
.feedback #response.correct,
.feedback #response.incorrect {
    color: #fff;
}
body.dark .feedback #response.correct,
body.dark .feedback #response.incorrect {
    color: #f3f3f3;
}
.feedback #response.correct {
    background: #73ca76;
}
body.dark .feedback #response.correct {
    background: #449a47;
}
.feedback #response.incorrect {
    background: #ca7373;
}
.feedback .view-explanation,
.feedback .explanation,
.feedback .retry {
    display: block;
    font-size: 15px;
    font-weight: 100;
    margin-top: 10px;
}
.feedback .view-explanation,
.feedback .retry {
    cursor: pointer;
}
.feedback .view-explanation:hover,
.feedback .retry:hover {
    opacity: 0.8;
}
.feedback .retry {
    color: #fff;
}
.credits-div .inner {
    padding: 10px;
}
.give-a-trophy {
    background: RGBa(0,0,0,0.05);
    color: #888;
    font-family: "Roboto";
    font-weight: 100;
    height: 30px;
    line-height: 30px;
    border-radius: 0 0 3px 3px;
}
body.dark .give-a-trophy {
    background: RGBa(225,225,225,0.05);
}
.give-a-trophy button {
    background: transparent;
    border: none;
    color: #888;
    font-size: 20px;
    cursor: pointer;
    height: 30px;
    transition: 0.25s linear;
}
.give-a-trophy button:not([disabled]):hover {
    background: RGBa(0,0,0,0.1);
}
.give-a-trophy button:not([disabled]):active {
    box-shadow: inset 0 0 1px #000;
}
.give-a-trophy button::after {
    min-width: 200px;
}
.credits-div p {
    font-weight: 100;
    margin: 5px 3px;
}
.credits-div p a {
    color: #888;
    background: RGBa(0,0,0,0.05);
    padding: 1px 3px;
    border-radius: 3px;
    font-weight: 100;
}
body.dark .credits-div p a {
    background: RGBa(255,255,255,0.1);
    color: #aaa;
}
.credits-div p a:hover,
body.dark .credits-div p a:hover{
    background: #888;
    color: #fff;
}
#fen-cont {
    margin-bottom: 37px;
}
.next-step {
    float: right;
    margin-top: -40px;
}
.button.new {
    vertical-align:middle;
    margin: 5px;
}
.page .main .removed {
    text-align: center;
    font-size: 20px;
    text-transform: none;
}
.loading {
    position: relative;
}
input {
    padding: 5px;
    border: none;
    font-size: 14px;
    display: block;
    width: 100%;
    color: #888;
    background: transparent;
}
.page .start-container {
    margin-bottom: 20px;
    padding: 0;
}
.start-container .flat-button {
    font-size: 20px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 0 0 transparent;
    position: relative;
}
.start-container .flat-button.blue {
    animation: 1s attention ease 1;
}
@keyframes attention {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.start-container .flat-button:hover {
    border-color: #333;
    animation: none;
}
.start-container .flat-button.green:active {
    box-shadow: 0 0 10px 1px #32ca36;
}
.leaderboard {
    padding-left: 0;
    font-size: 17px;
}
.leaderboard li {
    display: flex;
    justify-content: space-between;
    padding: 3px 2px;
}
.leaderboard li:first-child .rank {
    color: #f7e9a1;
}
.leaderboard li:nth-child(2) .rank {
    color: #d6d6d6;
}
.leaderboard li:nth-child(3) .rank {
    color: #dacda8;
}
.leaderboard .uilink{
    margin-left: 7px;
}
.leaderboard .uilink-username {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100px;
    display: inline-block;
    vertical-align: middle;
}
.leaderboard .rank {
    font-size: 18px;
    color: #999;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    padding: 0 3px;
    display: inline-block;
}
.leaderboard .rating {
    font-size: 14px;
    line-height: 30px;
}

@media(max-width: 1180px) {
    #chessground {
        width: 400px;
        height: 400px;
        margin: 5px auto;
    }
    .page .feedback {
        margin-top: 135px;
    }
}
@media(max-width:950px) {
    #chessground {
        width: 300px;
        height: 300px;
        margin: 5px auto;
    }
}
