.accepted-puzzles {
    text-align: center;
}
.accepted-puzzles .puzzle-container {
    width: 10vw;
    display: inline-block;
    margin: 5px;
}
.accepted-puzzles .puzzle-container .puzzle {
    width: 10vw;
    height: 10vw;
    display: block;
    overflow: hidden;
}
.accepted-puzzles .puzzle-container .puzzle::after {
    display: none;
}
.accepted-puzzles .puzzle-container .credits {
    padding: 5px;
    color: #999;
    font-weight: 100;
    font-family: "Roboto",sans-serif;
    transition: 0.25s linear;
    border: 1px solid #eee;
}
.accepted-puzzles .puzzle-container .puzzle:hover + .credits {
    background: #f7f7f7;
}
.puzzles-to-review {
    margin-top: 30px;
    display: block;
    width: 100%;
}
.puzzles-to-review tbody tr td {
    padding: 5px;
}
.puzzles-to-review form {
    display: inline-block;
}
.puzzles-to-review form .button:hover {
    top: 0;
    box-shadow: none;
}
.puzzles-to-review form .button::after,
.puzzles-to-review form .button span {
    transition: 0.1s ease !important;
}
.puzzles-to-review form .button {
    background: #fff;
    height: 40px;
    width: 40px;
    margin-bottom: 10px !important;
    display: block !important;
}
.your-puzzles h3 {
    font-weight: 100;
    color: #333;
    font-size: 20px;
    margin: 10px 0;
}
.your-puzzles .puzzle {
    display: block;
    font-family: "Roboto";
    font-weight: 100;
    
}
#chessground {
    width: 500px;
    height: 500px;
    margin: 10px auto;
}