.accepted-puzzles {
    text-align: center;
}
.accepted-puzzles .puzzle-container {
    width: 10vw;
    display: inline-block;
    margin: 5px;
}
.accepted-puzzles .puzzle-container .puzzle {
    width: 10vw;
    height: 10vw;
    display: block;
    overflow: hidden;
}
.accepted-puzzles .puzzle-container .puzzle::after {
    display: none;
}
.accepted-puzzles .puzzle-container .credits {
    padding: 5px;
    color: #999;
    font-weight: 100;
    font-family: "Roboto",sans-serif;
    transition: 0.25s linear;
    border: 1px solid #eee;
}
.accepted-puzzles .puzzle-container .puzzle:hover + .credits {
    background: #f7f7f7;
}
.puzzles-to-review {
    margin-top: 30px;
    display: block;
    width: 100%;
}
.puzzles-to-review tbody tr td {
    padding: 5px;
}
.puzzles-to-review form {
    display: inline-block;
}
.puzzles-to-review form .button:hover {
    top: 0;
    box-shadow: none;
}
.puzzles-to-review form .button::after,
.puzzles-to-review form .button span {
    transition: 0.1s ease !important;
}
.puzzles-to-review form .button {
    background: #fff;
    height: 40px;
    width: 40px;
    margin-bottom: 10px !important;
    display: block !important;
}
.your-puzzles h3 {
    font-weight: 100;
    color: #333;
    font-size: 20px;
    margin: 10px 0;
}
.your-puzzles .puzzle {
    display: block;
    font-family: "Roboto";
    font-weight: 100;
}
#chessground {
    width: 500px;
    height: 500px;
    margin: 10px auto;
}
.editor-container {
    margin: 30px 0;
}
.editor-container .spare,
.editor-container .board {
    margin: 10px auto;
    width: 300px;
    overflow: hidden;
}
.editor-container .spare {
    height: 50px;
    background: #f8f8f8;
    border-radius: 3px;
    display: flex;
}
.editor-container .spare piece {
    height: 100%;
    flex-grow: 1;
    cursor: pointer;
}
.editor-container .spare piece.selectedPiece {
    background-color: RGBa(0,0,0,0.1);
    box-shadow: inset 0 0 5px RGBa(0,137,255,0.3);
}
.editor-container .board {
    height: 300px;
}
.editor-container #clrSelect {
    display: block;
    margin: auto;
}
.copyings h3 {
    font-family: "Roboto";
    font-weight: 100;
    margin: 5px;
}
.copyings p {
    margin: 10px 5px;
    font-family: "Roboto";
    font-weight: 100;
    word-break: break-all;
}
.feedback {
    padding: 0 !important;
}
.feedback #response {
    padding: 25px 30px;
    font-size: 20px;
}
.feedback #response.neutral {
    background: #eee;
}
.feedback #response.correct,
.feedback #response.incorrect {
    color: #f3f3f3;
}
.feedback #response.correct {
    background: #73ca76;
}
.feedback #response.incorrect {
    background: #ca7373;
}
.feedback .give-a-trophy {
    background: #5bb55e;
    color: #fff;
    font-family: "Roboto";
    font-weight: 100;
    height: 30px;
    line-height: 30px;
}
.feedback .give-a-trophy button {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    height: 30px;
    transition: 0.25s linear;
}
.feedback .give-a-trophy button:hover {
    background: #73ca76;
    box-shadow: inset 0 0 5px #5bb55e;
}
.feedback .give-a-trophy button:active {
    background: #91e094;
    box-shadow: inset 0 0 10px #5bb55e;
}
