form {
    margin-top: 20px;
}
form .button {
    margin-top: 20px;
}
.links-section {
    padding: 0 !important;
    box-shadow: none !important;
    background-color: #f4f4f4 !important;
}
.links-section a {
    color: #777;
    display: block;
    padding: 10px;
    position: relative;
}
.links-section a.current {
    background: #eee;
    opacity: 1;
}
.links-section a:hover {
    background: #eee;
}
.links-section a.current::after {
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    right: 10px;
}