/* based on https://github.com/ornicar/chessground-examples/blob/master/assets/theme.css but modified */

.promotion-popup button {
  width: 50px;
  height: 50px;
}

.cg-wrap {
  background-image: url('/images/board/brown.svg');
}

piece.pawn.white {
  background-image: url('/images/pieces/merida/wP.svg');
}
piece.bishop.white,
button[data-promote="bishop"].white {
  background-image: url('/images/pieces/merida/wB.svg');
}
piece.knight.white,
button[data-promote="knight"].white {
  background-image: url('/images/pieces/merida/wN.svg');
}
piece.rook.white,
button[data-promote="rook"].white {
  background-image: url('/images/pieces/merida/wR.svg');
}
piece.queen.white,
button[data-promote="queen"].white {
  background-image: url('/images/pieces/merida/wQ.svg');
}
piece.king.white {
  background-image: url('/images/pieces/merida/wK.svg');
}
piece.pawn.black {
  background-image: url('/images/pieces/merida/bP.svg');
}
piece.bishop.black,
button[data-promote="bishop"].black {
  background-image: url('/images/pieces/merida/bB.svg');
}
piece.knight.black,
button[data-promote="knight"].black {
  background-image: url('/images/pieces/merida/bN.svg');
}
piece.rook.black,
button[data-promote="rook"].black {
  background-image: url('/images/pieces/merida/bR.svg');
}
piece.queen.black,
button[data-promote="queen"].black {
  background-image: url('/images/pieces/merida/bQ.svg');
}
piece.king.black {
  background-image: url('/images/pieces/merida/bK.svg');
}

button[data-promote] {
  background-size: 100% 100%;
}
