body.dark {
    --background: #333;
    --page: #3b3b3b;
    --blue: #41948d;
    --blue-accent: #525b5d;
    --green: #449a47;
    --green-accent: #545a54;
    --red: #d2582a;
    --red-accent: #5a524f;
    --yellow: #c6d41c;
    --yellow-accent: #5d5f4c;
}
body.dark [data-hint]::after {
    background: #555;
}
body.dark .flat-button {
    color: #aaa;
}
body.dark .button span {
    color: #aaa;
}
body.dark .button:hover span,
body.dark .button:focus span {
    color: #fff;
}
body.dark a:hover {
    color: #549fe4;
}
body.dark .learnchess-link {
    color: #ccc;
}
body.dark .learnchess-link .extension {
    color: #aaa;
}
body.dark .learnchess-link:hover {
    color: #bbb;
}
body.dark .top .right {
    color: #777;
}
body.dark .top-above .profile-link {
    color: #999;
}
body.dark .top-above .profile-link:hover {
    color: #bbb;
}
body.dark .top-navigation {
    background: #393939;
}
body.dark .top-navigation .main-links a {
    color: #aaa;
}
body.dark .top-navigation .main-links a:hover {
    background: #3f3f3f;
}
body.dark .top-navigation .dropdown {
    background: #393939;
    border-color: #464646;
}
body.dark .top-navigation .dropdown a:hover {
    color: #ddd;
}
body.dark .top-navigation .icon {
    color: #aaa;
}
body.dark .n-container {
    background: #444;
}
body.dark .n-container::before {
    border-bottom-color: #494949;
}
body.dark a.notification,
body.dark .n-container .nothing-to-see {
    background: #494949;
    border-color: #5d5d5d;
    color: #bbb;
}
body.dark .n-container .flat-button {
    background: #494949;
    color: #999;
}
body.dark .n-container .inner-container::-webkit-scrollbar {
    background: #494949;
}
body.dark .n-container .inner-container::-webkit-scrollbar-thumb {
    background: #595959;
}
body.dark .n-container .inner-container::-webkit-scrollbar-thumb:hover {
    background: #696969;
}
body.dark .notification:hover,
body.dark .n-container .flat-button:hover {
    background: #4f4f4f;
}
body.dark .notification .icon-type {
    color: #777;
}
body.dark .page {
    color: #aaa;
}
body.dark .block .block-title {
    color: #bbb;
}
body.dark .sidebar a:hover {
    background: #333;
    color: #aaa;
}
body.dark .sidebar .current {
    background: #333;
}
body.dark .sidebar a {
    color: #aaa;
}
body.dark .page .block.sidebar {
    background-color: #383838;
}
body.dark .board-container .credits {
    border-color: #555;
}
body.dark .board-container .board:hover + .credits {
    background: #494949;
}
body.dark .block-title .state {
    text-shadow: none;
}
body.dark .state.online {
    color: #348e37;
}
body.dark .uilink {
    color: #aaa;
}
body.dark .uilink:hover {
    color: #bbb;
}
body.dark #powerTip {
    background: #444;
}
body.dark #powerTip .ui-top {
    background: #4a4a4a;
}
body.dark #powerTip .ui-top .uilink {
    color: #ccc;
}
body.dark #powerTip .padding {
    color: #bbb;
}
body.dark #powerTip .padding i {
    color: #888;
}
body.dark #powerTip .admin-buttons .flat-button {
    color: #777;
}
body.dark #powerTip .admin-buttons .flat-button:hover {
    background: #484848;
    color: #999;
}
body.dark #popup {
    background: #444;
}
body.dark #popup .popup-title {
    background: #4d4d4d;
    color: #999;
}
body.dark .message.error {
    color: #e6bebe;
}
body.dark .message.warning {
    color: #fbfbc8;
}
body.dark .message.info {
    color: #c1f6ff;
}
body.dark .message.success {
    color: #c7f3c9;
}
body.dark .message a {
    color: inherit;
    opacity: 1;
}
body.dark .message a:hover {
    opacity: 0.7;
}
