.more {
    margin-top: 20px;
}
.page .do-stuff {
    overflow: hidden;
}
.do-stuff a {
    color: #777;
    display: block;
    padding: 10px;
    transition: none;
}
.do-stuff a i {
    color: #999;
}
body.dark .do-stuff a {
    background: #444;
    color: #aaa;
}
body.dark .do-stuff a i {
    color: #999;
}
.do-stuff a:hover {
    color: #666;
}
.do-stuff a:hover i {
    color: #555;
}
body.dark .do-stuff a:hover i {
    color: #eee;
}
body.dark .do-stuff a:hover {
    color: #bbb;
}
.page ul {
    padding-left: 20px;
}

