.more {
    margin-top: 20px;
}
.do-stuff {
    overflow: hidden;
}
.do-stuff a {
    color: #777;
    display: block;
    padding: 10px;
    transition: none;
}
body.dark .do-stuff a {
    color: #999;
}
.do-stuff a i {
    color: #999;
}
body.dark .do-stuff a i {
    color: #999;
}
.do-stuff a:hover {
    color: #666;
}
.do-stuff a:hover i {
    color: #555;
}
body.dark .do-stuff a:hover i {
    color: #777;
}
body.dark .do-stuff a:hover {
    color: #888;
}
.page ul {
    padding-left: 20px;
}
.right-area .block-title {
    padding-top: 10px;
}
