.more {
    margin-top: 20px;
}
.page .do-stuff {
    overflow: hidden;
}
.do-stuff a {
    color: #777;
    display: block;
    background: #fff;
    padding: 10px;
}
body.dark .do-stuff a {
    background: #444;
    color: #aaa;
}
.do-stuff a:hover {
    background: #eee;
}
body.dark .do-stuff a:hover {
    background: #555;
}
