* {
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
body {
    font-family: sans-serif;
}

@font-face {
	font-family: "learnchess";
	src: url("/fonts/iconfont.eot?9712567c465fb980760788318e570c0b?#iefix") format("embedded-opentype"),
    url("/fonts/iconfont.woff2?9712567c465fb980760788318e570c0b") format("woff2"),
    url("/fonts/iconfont.woff?9712567c465fb980760788318e570c0b") format("woff");
}
.learnchess-logo:before {
    content: "\f101";
    font-family: learnchess !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

a {
    text-decoration: none;
}
.topbar {
    position: fixed;
    width: 100%;
    padding: 50px;
    z-index: 10;
    transition: 0.25s ease;
}
.topbar.small {
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 3px RGBa(0,0,0,0.5);
}
.topbar .site-name {
    color: #bbb;
    font-family: "Roboto",sans-serif;
    font-size: 25px;
    display: inline-block;
    position: relative;
    padding: 10px;
    top: -10px;
    left: -10px;
    transition: 0.25s ease;
}
.topbar.small .site-name {
    color: #888;
    top: 0;
    left: 0;
}
.topbar .site-name .extension {
    color: #999;
    font-family: sans-serif;
    font-size: 25px;
}
.topbar.small .site-name .extension {
    color: #bbb;
}
.topbar .site-name::after {
    content: "";
    height: 100%;
    width: 0%;
    display: block;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0s linear;
    opacity: 1;
}
.topbar .site-name:hover {
    background: #fff;
    color: #777;
}
.topbar .site-name:hover::after {
    opacity: 0;
    width: 100%;
    transition: 0.5s ease;
}
.topbar .right {
    display: inline-block;
    position: absolute;
    right: 3%;
    transition: 0.25s ease;
}
.topbar.small .right {
    right: 1%;
}
.topbar .right a {
    position: relative;
    padding: 7px 10px;
    top: -3px;
    display: inline-block;
    border: none;
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    transition: .1s ease;
    font-family: sans-serif;
    margin: 0 5px;
}
.topbar .right a {
    border: 2px solid #486055;
}
.topbar .right .register {
    background: RGBa(255,255,255,0.1);
    margin-left: 10px;
}
.topbar.small .right a {
    margin-top: 10px;
}
.topbar .right a span {
    position: relative;
    z-index: 2;
    color: #ddd;
    transition: 0.25s color ease;
}
.topbar.small .right a span {
    color: #444;
}
.topbar .right a::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: .25s ease;
    background: #fff;
}
.topbar.small .right a::after {
    background: #486055;
}
.topbar.small .right .register::after {
    background: #fff;
}
.topbar.small .right .register:hover {
    border-color: #ccc;
}
.topbar.small .right .register:hover span {
    color: #444;
}
.topbar .right a:hover span {
    color: #444;
}
.topbar.small .right .register {
    background: #486055;
}
.topbar.small .right .register span {
    color: #fff;
}
.topbar.small .right a:hover span {
    color: #fff;
}
.topbar .right a:hover::after {
    width: 100%;
}
.main {
    min-height: 100%;
    width: 100%;
    background-color: #56776a;
    background-image: url("../images/mainbg.svg");
    background-attachment: fixed;
    background-position: center bottom;
    background-size: 50%;
    background-repeat: no-repeat;
    position: relative;
    padding: 100px;
}
.main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: RGBa(0,0,0,0.2);
}
.main .content,
.section .content {
    height: 70%;
    width: 50%;
    margin: 50px auto;
    position: relative;
    z-index: 1;
}
.main .content .left,
.main .content .right,
.section .content .left,
.section .content .right {
    display: inline-block;
    height: 100%;
}
.main .content .left,
.main .content .right {
    width: 45%;
}
.section .content .left,
.section .content .right {
    width: 50%;
}
.main .content .left .main-image {
    width: 100%;
    border-radius: 3px;
}
.main .content .right,
.section .content .right {
    float: right;
}
.main .content .right {
    color: #ccc;
    font-family: "Roboto",sans-serif;
}
.main .content .right p {
    margin: 10px 0;
}
.main .content .right h1 {
    font-size: 50px;
    margin: 0;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    color: #ddd;
}
.learn {
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    transition: 0.25s ease;
    position: relative;
    left: -5px;
}
.learn i {
    color: #fff;
    opacity: 0.4;
    transition: 0.25s ease;
    position: relative;
    left: -7px;
    margin-left: 10px;
}
.learn:hover {
    background: #fff;
    color: #56776a;
}
.learn:hover i {
    opacity: 1;
    left: 0;
    color: #56776a;
}
.section {
    padding: 20px;
}
.section .content .left {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}
.section .content .right {
    padding-left: 40px;
}
.section .content .icon {
    font-size: 200px;
    color: #aaa;
    text-shadow: 0 2px 5px RGBa(0,0,0,0.3);
}
.section .content .left .icon {
    text-align: right;
    display: block;
    padding-right: 40px;
}
.section .content h1 {
    font-weight: 100;
    font-size: 35px;
}
.section .content h1 i {
    display: none;
}
.section .content a {
    transition: 0.1s ease;
}
.section .content a:hover {
    text-decoration: underline;
    opacity: 0.9;
}
.section.puzzles {
    background: #eee;
    color: #777;
}
.section.puzzles a {
    color: #686868;
}
.section.puzzles .icon,
.section.coordinates .icon {
    text-shadow: 0 1px 1px RGBa(0,0,0,0.7);
    position: relative;
    top: -20px;
}
.section.coordinates {
    background: #999;
    color: #fff;
}
.section.coordinates a {
    color: #fff;
}
.section.coordinates .icon {
    color: #888;
}
.section.pricing {
    background: #777;
    color: #fff;
}
.section.pricing a {
    color: #e8e8e8;
}
.section.pricing .left {
    border-right-color: #999;
    padding-left: 20px;
}
.section.pricing .right .icon {
    color: #ddd;
}
footer {
    padding: 20px;
    background: linear-gradient(45deg,#555 50%,#777 50%);
    color: #c1c1c1;
    position: relative;
}
footer .site-name {
    font-size: 20px;
    background: RGBa(0,0,0,0.1);
    padding: 5px;
    vertical-align: top;
    margin-top: 34px;
}
footer .site-name .year {
    color: #9f9f9f;
}
footer .links {
    top: 0;
}
footer .links a {
    color: #bbb;
    line-height: 35px;
}
footer .links a:hover {
    color: #ccc;
}
footer ul,
footer .links,
footer .site-name {
    display: inline-block;
}
footer ul li {
    list-style: none;
}
footer ul li::before {
    display: none;
}
footer ul .footer-section-title {
    letter-spacing: 2px;
    padding: 3px;
    color: #ddd;
}
.username-container {
    font-size: 0;
    position: absolute;
    box-shadow: 0 0 10px RGBa(0,0,0,0.5);
    border-radius: 5px;
    overflow: hidden;
    width: 30%;
    top: 150px;
    transition: 0.25s ease;
    right: 50px;
    margin-top: 0;
}
.username-container:hover {
    margin-top: -2px;
    box-shadow: 0 0 15px RGBa(0,0,0,0.5);
}
.username-container #username {
    background: transparent;
    border: 3px solid #aaa;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    transition: 0.25s linear;
    width: 65%;
    height: 45px;
}
.username-container #username:focus,
.username-container #username:hover {
    border-color: #777;
    outline: none;
}
.username-container label {
    font-size: 15px;
    position: absolute;
    left: 12px;
    top: 15px;
    pointer-events: none;
    transition: 0.1s linear;
}
.username-container #start {
    color: #fff;
    background: #aaa;
    padding: 0 10px;
    border: 3px solid #aaa;
    font-size: 15px;
    width: 35%;
    display: inline-block;
    transition: 0.25s ease;
    height: 45px;
    line-height: 42px;
    vertical-align: top;
    text-align: center;
}
.username-container #start:hover {
    background: transparent;
    border-color: transparent;
    text-decoration: none;
}
.username-container #username:focus + label,
.username-container #username:valid + label {
    opacity: 0;
}
@media(max-width: 1605px) {
    .main .content,
    .section .content {
        width: 60%;
    }
}
@media(max-width: 1350px) {
    .main .content,
    .section .content {
        width: 70%;
    }
}
@media(max-width: 1160px) {
    .main .content,
    .section .content {
        width: 80%;
    }
}
@media(max-width: 1020px) {
    .main .content,
    .section .content {
        width: 90%;
    }
}
@media (max-width: 850px) {
    .main .content .right h1 {
        font-size: 40px;
    }
}
@media(max-width: 800px) {
    .main .content .left {
        display: none;
    }
    .main .content .right,
    .section .content .right {
        display: block;
        width: 60%;
        float: none;
    }
    .section .content .left,
    .section .content .right {
        display: block;
        width: 100%;
        margin: 40px auto;
        margin-bottom: 0;
        padding: 20px;
        text-align: center;
    }
    .section .content .left {
        border: none;
        padding-left: none;
        margin-top: 0;
    }
    .section.coordinates .content .left {
        border-top: 1px solid #ccc;
    }
    .section.coordinates .content .left .icon {
        margin-top: 40px;
        padding-right: 0;
    }
    .section.pricing .content .left {
        border-top: 1px solid #aaa;
    }
    .section.pricing .username-container {
        width: 400px;
        margin: auto;
    }
    .section .content .left,
    .section .content .right {
        text-align: center;
    }
    .section.puzzles .content .left {
        border-bottom: 1px solid #ccc;
    }
    .section .content .left .icon {
        float: none;
        text-align: center;
    }
    .section .content {
        margin: 0 auto;
    }
    .section a {
        text-decoration: underline;
    }
    #start {
        text-decoration: none;
    }
    .learn i {
        opacity: 0.8;
    }
    .main::after {
        background: RGBa(0,0,0,0.3);
    }
}
@media (max-width: 650px) {
    .section .content .icon {
        font-size: 100px;
    }
    .section.puzzles .content .left,
    .section.coordinates .content .right,
    .section.pricing .content .left {
        margin: 0;
    }
}
@media (max-width: 540px) {
    .main .content .right {
        width: 100%;
    }
    .main .content .right h1 {
        font-size: 35px;
    }
}
@media (max-width: 510px) {
    .section.pricing .username-container {
        width: 100%;
    }
    .topbar .right a {
        padding: 7px;
        margin: 0;
        top: -2px
    }
    .section .content h1 {
        margin: 0;
    }
    .section.puzzles .content .right,
    .section.coordinates .content .left,
    .section.pricing .content .right {
        display: none;
        border: none;
    }
    .section.puzzles .content .left,
    .section.pricing .content .left {
        border: none;
    }
    .section .content h1 i {
        display: inline;
    }
}
@media (max-width: 435px) {
    .section .content {
        margin:  0;
        width: 100%;
    }
    .section.pricing .content .left,
    .section.puzzles .content .right {
        width: 100%;   
    }
}
@media (max-width: 400px) {
    .topbar {
        padding: 30px;
    }
    .topbar.small {
        padding: 10px;
    }
    .topbar.small .site-name,
    .topbar.small .site-name .extension {
        font-size: 20px;
    }
    .main .content .right h1 {
        font-size: 30px;
    }
    .section.pricing .username-container #username,
    .section.pricing .username-container #start {
        border-radius: 0;
        width: 100%;
    }
    footer {
        padding: 10px;
    }
    footer .site-name {
        font-size: 15px;
    }
    footer .right a {
        font-size: 13px;
    }
}
