:root {
    --background: #eee;
    --page: #f9f9f9;
    --link: #3893e8;
    --blue: #58a3bf;
    --blue-accent: #e8f9ff;
    --green: #73ca76;
    --green-accent: #e2ffe3;
    --red: #e84438;
    --red-accent: #ffecec;
    --yellow: #ffff05;
    --yellow-accent: #fdfde8;
    --page-width: 50%;
    --slight-shadow: 1px 2px 2px RGBa(0,0,0,0.1);
    --board-container-size: 200px;
}

* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: var(--background);
    display: grid;
    grid-template: 86px 1fr 34px /  1fr var(--page-width) 1fr;
    grid-template-areas:
        ". header ."
        ". page ."
        ". footer .";
    grid-gap: 20px;
}


/* Global styles */

a {
    color: var(--link);
    text-decoration: none;
    transition: 0.25s ease;
}
a:hover {
    color: #1d7bd3;
}
.right {
    float: right;
}
.state {
    display: inline-block;
    vertical-align: middle;
}
.state.online {
    color: #71bd74;
}
.state.offline {
    color: #898e8a;
}
.nothing-to-see {
    color: #8c8c8c;
    text-transform: uppercase;
    font-weight: 400;
}
.nothing-to-see.lower {
    text-transform: none;
}
/* .uilink styling */

.uilink {
    color: #777;
    font-weight: 400;
}
.uilink:hover {
    color: #555;
}
.uilink::after {
    display: none;
}
.uilink .state {
    font-size: 13px;
}

/* loader */

.loader {
    height: 20px;
    width: 20px;
    border: 2px solid transparent;
    border-right-color: #3893e8;
    border-bottom-color: #3893e8;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation: 0.8s rotate linear infinite;
}
.loader.white {
    border-right-color: #fff;
    border-bottom-color: #fff;
}
@keyframes rotate {
    0% {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

/* .button styling */

.button, .flat-button {
    padding: 10px;
    display: inline-block;
    border: none;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    top: 0;
    font-family: sans-serif;
    background: transparent;
}
.button {
    transition: .1s;
}
.button.full, .flat-button.full {
    display: block;
    width: 100%;
}
.button.red {
    background: RGBa(225,0,0,0.1);
    color: #777;
}
.button span {
    z-index: 2;
    position: relative;
    transition: .1s color linear;
    color: #555;
}
.button::after {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    transition: .1s ease;
}
.button.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.button.disabled:hover {
    box-shadow: none;
    top: 0;
}
.button.disabled:hover span {
    color: #333;
}
.button.disabled::after {
    background: #f9f9f9;
}
body.dark .button.disabled::after {
    background: #393939;
}
.button.nocolor::after {
    background: #f4f4f4;
}
body.dark .button.nocolor::after {
    background: #343434;
}
.button.blue::after {
    background: #3893e8;
}
.button.red::after {
    background: #e84438;
}
.button.green::after {
    background: #4caf50;
}
.button:hover,
.button:focus {
    box-shadow: 1px 2px 5px RGBa(0,0,0,0.2);
    outline: none;
}
.button:hover span,
.button:focus span {
    color: #fff;
}
.button.nocolor:hover span,
.button.nocolor:focus span {
    color: #555;
}
.button:hover::after,
.button:focus::after {
    width: 100%;
}

/* .flat-button */

.flat-button {
    border-radius: 0;
    color: #555;
    text-align: center;
    transition: none;
}
.flat-button.transition {
    transition: 0.25s ease;
}
.flat-button:hover {
    background: RGBa(0,0,0,0.1);
}
.flat-button.blue:hover {
    background: #3893e8;
    color: #fff;
}
.flat-button.green:hover {
    background: var(--green);
    color: #fff;
}
.flat-button:active {
    box-shadow: inset 0 0 3px RGBa(0,0,0,0.5);
}
.flat-button::after {
    content: none;
}
.flat-button:disabled {
    opacity: 0.7;
    cursor: default;
}
.flat-button:disabled:hover {
    background: transparent;
}
.flat-button:disabled:active {
    background: transparent;
    box-shadow: none;
}

/* [data-hint] */

[data-hint] {
    position: relative;
    display: inline-block;
}
[data-hint].hint-text-center::after {
    text-align: center;
}
[data-hint]::after {
    content: attr(data-hint);
    opacity: 0;
    margin-top: -5px;
    transition: 0.1s ease;
    display: block;
    position: absolute;
    font-size: 13px;
    background: #888;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    left: 50%;
    transform: translateX(-50%) scale(0.7);
    z-index: 15;
    min-width: 100%;
    pointer-events: none;
    font-weight: 100;
    font-family: sans-serif;
}
[data-hint]:hover::after {
    opacity: 1;
    margin-top: 0;
    transform: translateX(-50%) scale(1);
}

/* [data-count] */

[data-count] {
    position: relative;
}
[data-count]::after {
    content: attr(data-count);
    position: absolute;
    font-family: "Roboto",sans-serif;
    background: var(--link);
    color: #fff;
    padding: 3px;
    font-size: 13px;
    border-radius: 3px;
    text-shadow: 1px 1px #888;
    right: -4px;
    top: -7px;
    pointer-events: none;
}

/* #powerTip */

#powerTip {
    position: absolute;
    background: #fff;
    font-weight: 100;
    box-shadow: 1px 2px 2px RGBa(0,0,0,0.3);
    border-radius: 3px;
    min-width: 150px;
    z-index: 10;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
}
#powerTip.position {
    border: 5px solid var(--page);
}
#powerTip cg-board {
    cursor: default;
}
#powerTip .ui-top {
    padding: 5px;
    background: #f6f6f6;
    font-family: "Roboto",sans-serif;
    font-weight: 100;
}
#powerTip .ui-top .uilink {
    color: #555;
}
#powerTip .loading-container {
    padding: 10px;
    position: relative;
    height: 40px;
}
#powerTip .padding {
    padding: 10px;
    color: #777;
    font-size: 14px;
}
#powerTip .padding i {
    color: #999;
}
#powerTip .padding.no-account {
    min-height: 40px;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    color: #888;
}
#powerTip .padding.no-account.not-found {
    height: 30px;
}
#powerTip .admin-buttons {
    margin: 0;
    display: flex;
}
#powerTip .admin-buttons .flat-button {
    flex-grow: 1;
    padding: 5px;
    color: #999;
}
#powerTip .admin-buttons .flat-button:hover {
    background: #f5f5f5;
    color: #555;
}

/* #Popup */

#popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    background: #fff;
    z-index: 20;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 1px 2px 3px RGBa(0,0,0,0.3);
    color: #555;
    font-weight: 100;
    min-width: 300px;
}
#popup .popup-title {
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #777;
    margin: 0;
    padding: 10px;
    background: #f9f9f9;
}
#popup .popup-content {
    padding: 5px 10px;
}
#popup .button.full {
    margin-top: 5px;
}
#popup .cancel {
    color: #888;
    margin-left:  10px;
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
}
#popup .cancel:hover {
    color: #3893e8;
}

/* 'Topbar' */

.top-navigation .main-links,
.top-navigation .main-links .main-dropdown,
.top-navigation .main-links a,
.top-navigation .main-links .main-dropdown .dropdown a,
.top-navigation .icon {
    display: inline-block;
}
.top {
    grid-area: header;
}
.top-above {
    margin-bottom: 5px;
}
.top-above a {
    transition: none;
}
.top .hidden-icon {
    display: none;
}
.learnchess-link {
    font-size: 20px;
    color: #777;
    font-weight: 100;
}
.learnchess-link .extension {
    color: #555;
}
.learnchess-link:hover {
    color: #555;
}
.top .right {
    color: #444;
}
.top-above .profile-link {
    color: #777;
}
.top-above .profile-link:hover {
    color: #555;
}
.top-navigation {
    background: var(--page);
    display: flex;
    box-shadow: var(--slight-shadow);
    padding: 0 10px;
}
.top-navigation .main-links {
    font-size: 0;
    flex-grow: 1;
}
.top-navigation .main-links a {
    padding: 20px;
    color: #555;
    font-weight: 500;
    position: relative;
    font-size: 16px;
}
.top-navigation .main-links a:hover {
    background: #e3e3e3;
}
.top-navigation .main-dropdown,
.top-navigation .icon-dropdown {
    position: relative;
    display: inline-block;
}
.top-navigation .dropdown {
    position: absolute;
    background: #eaeaea;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s linear;
    width: 200px;
    border: 1px solid #ddd;
    border-top: none;
    z-index: 10;
}
.top-navigation .dropdown a {
    padding: 10px;
    width: 50%;
    color: #888;
    font-weight: 100;
}
.top-navigation .dropdown a:hover {
    color: #555;
}
.top-navigation .main-dropdown > a:hover + .dropdown,
.top-navigation .icon-dropdown > a:hover + .dropdown,
.top-navigation .main-dropdown:hover .dropdown,
.top-navigation .icon-dropdown:hover .dropdown {
    opacity: 1;
    pointer-events: auto;
}
.top-navigation .icon {
    padding: 19px;
    color: #555;
    cursor: pointer;
    font-size: 20px;
}
.top-navigation .icon::after {
    top: 50px;
}
.n-container {
    position: absolute;
    width: 200px;
    right: 0;
    background: #fff;
    margin-top: 15px;
    box-shadow: 0 0 10px RGBa(0,0,0,0.2);
    display: none;
    z-index: 10;
}
.n-container::before {
    content: "";
    border: 10px solid transparent;
    border-bottom-color: #fff;
    height: 0;
    width: 0;
    position: absolute;
    top: -20px;
    right: 20px;
    z-index: 1;
}
.n-container::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    box-shadow: 0 0 10px RGBa(0,0,0,0.5);
    transform: rotate(-45deg);
    top: -7px;
    right: 25px;
    z-index: -1;
}
.n-container .nothing-to-see {
    text-align: center;
    text-transform: none;
    background: #fff;
    position: relative;
    display: block;
    margin: 0;
    padding: 20px;
}
.n-container .flat-button {
    padding: 5px;
    display: block;
    color: #777;
    width: 100%;
    font-weight: 100;
}
.n-container .flat-button:hover {
    background: #f7f7f7;
}
.n-container .inner-container {
    max-height: 171px;
    overflow: auto;
}
 .n-container .inner-container::-webkit-scrollbar {
    background: #fff;
    width: 10px;
}
.n-container .inner-container::-webkit-scrollbar-thumb {
    background: #eee;
}
.n-container .inner-container::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}
a.notification {
    padding: 10px;
    color: #555;
    font-weight: 100;
    border-bottom: 1px solid #eee;
    background: #fff;
    display: block;
    transition: 0.25s ease;
    left: 0;
    overflow: hidden;
    height: 60px;
    position: relative;
}
.notification:hover,
.n-container .flat-button:hover {
    background: #f8f8f8;
}
.notification.remove-notification {
    left: -200px;
    height: 0;
    padding: 0;
}
.notification .icon-type {
    font-size: 40px;
    float: left;
    margin-right: 10px;
    color: #aaa;
}
.top-navigation .icon-links .dropdown {
    right: 0;
    width: 100px;
    z-index: 10;
}
.top-navigation .icon-links .dropdown a {
    display: block;
    width: 100%;
}

/* .page */

.page {
    color: #777;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-areas: "main right";
    justify-content: space-between;
    grid-area: page;
    grid-gap: 20px;
}
.page.center {
    grid-template-columns: 70%;
    justify-content: space-around;
}
.page.full {
    grid-template-columns: 100%;
}
.page.has-header {
    grid-template-areas: "page-header page-header"
                         "main right";
}
.page.has-header > .block {
    grid-area: page-header;
    margin: 0;
    padding: 20px;
}
.page.has-header > .block .block-title {
    margin: 0;
}
.page.has-left {
    grid-template-areas: "page-header page-header";
    grid-template-columns: 30% 1fr;
}
.puzzle-header .block-title {
    margin: 0;
}
.page .main {
    display: grid;
    width: 100%;
    grid-area: main;
}
.page .main a:not(.uilink):not(.flat-button):not(.button) {
    font-family: "Roboto", sans-serif;
}
.page .main a {
    position: relative;
}
.page.center .main {
    display: block;
    margin-top: 30px;
}
.page.full .main {
    width: 100%;
    display: block;
}
.page .left-area {
    display: inline-block;
}
.page .right-area {
    grid-area: right;
}
.page .block.sidebar {
    padding: 0;
    box-shadow: none;
    background-color: #f4f4f4;
}
.sidebar a {
    color: #777;
    display: block;
    padding: 10px;
    position: relative;
    transition: none;
}
.sidebar a.current {
    background: #eee;
    opacity: 1;
}
.sidebar a:hover {
    background: #eee;
}
.sidebar a.current::after {
    font-family: "FontAwesome";
    content: "\f105";
    position: absolute;
    right: 10px;
}
.block {
    background: var(--page);
    box-shadow: var(--slight-shadow);
    width: 100%;
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.block.no-padding {
    padding: 0;
}
.block.transparent {
    background: transparent;
    box-shadow: none;
}
.block-title {
    font-weight: 100;
    color: #444;
    margin-bottom: 10px;
    margin-top: 0;
}
.left-area .block-title,
.right-area .block-title {
    font-size: 25px;
}
.block-title.center {
    text-align: center;
}
.block-title .alternate {
    font-size: 13px;
    float: right;
}
.block-title .alternate .alt-text,
.block-title .alternate .button {
    vertical-align: middle;
}
.block-title .alternate .alt-text {
    display: inline-block;
    padding: 10px;
}
.main .nothing-to-see {
    font-size: 15px;
}
.right-area .nothing-to-see,
.left-area .nothing-to-see {
    font-size: 13px;
    text-align: center;
}

/* Error and warning messages */

.message {
    padding: 15px;
    line-height: 22px;
    border-left: 4px solid;
}
.message.small {
    padding: 5px 10px;
    font-size: 15px;
}
.message.error {
    border-left-color: var(--red);
    background: var(--red-accent);
    color: #581a1a;
}
.message.warning {
    border-left-color: var(--yellow);
    background: var(--yellow-accent);
    color: #5d5d03;
}
.message.info {
    border-left-color: var(--blue);
    background: var(--blue-accent);
    color: #035d3a;
}
.message.success {
    border-left-color: var(--green);
    background: var(--green-accent);
    color: #035d3a;
}
.message a {
    color: inherit;
    font-weight: 600;
    transition: none;
}
.message a:hover {
    opacity: 0.6;
}

/* Board container */

.board-container {
    width: var(--board-container-size);
    display: inline-block;
    margin: 5px;
}
.board-container .board {
    width: var(--board-container-size);
    height: var(--board-container-size);
    display: block;
    overflow: hidden;
}
.board-container .board::after {
    display: none;
}
.board-container .credits {
    padding: 5px;
    color: #999;
    font-weight: 400;
    font-family: "Roboto",sans-serif;
    border: 1px solid #eee;
    transition: 0.1s linear;
    text-align: center;
}
.board-container .board:hover + .credits {
    background: #f3f3f3;
}

/* Footer */

footer {
    border-top: 1px solid #adadad;
    padding-top: 10px;
    color: #555;
    grid-area: footer;
}
body.dark footer {
    border-color: #555;
}
footer a {
    font-family: sans-serif;
    color: #777;
    font-weight: 100;
}
footer .site-name {
    font-size: 20px;
}

@media (max-width: 1450px) {
    :root {
        --page-width: 60%;
    }
}
@media (max-width: 1300px) {
    :root {
        --page-width: 65%;
        --board-container-size: 152px;
    }
}
@media (max-width: 1050px) {
    .top-navigation .icon {
        padding: 19px 15px;
    }
    .top-navigation .main-links a {
        padding: 20px 15px;
    }
}
@media (max-width: 950px) {
    .permission-only {
        display: none !important;
    }
}
@media (max-width: 820px) {
    :root {
        --board-container-size: 128px;
    }
}
@media (max-width: 780px) {
    :root {
        --page-width: 90%;
    }
}
@media (max-width: 600px) {
    .page {
        grid-template-columns: 100%;
        grid-template-areas: "main"
                              "right"
    }
    .main {
        row-gap: 20px;
    }
    .top .hidden-icon {
        display: block;
    }
    .top .hidden-text {
        display: none;
    }
    .top-navigation .main-links a {
        padding: 0;
    }
    .block {
        margin-bottom: 0;
    }
}
@media (max-width: 425px) {
    footer .responsive {
        display: none;
    }
}
@media (max-width: 400px) {
    .top-navigation {
        padding: 0 10px;
    }
    .top-navigation .icon {
        padding: 19px 10px;
    }
}
