form {
    margin-top: 50px;
    display: block;
}
form .input-container {
    min-height: 50px;
    margin-top: 30px;
    display: block;
    position: relative;
}
form .input-line {
    display: flex;
    justify-content: space-between;
}
form .input-container.half {
    width: 47%;
}
form .input-container.third {
    width: 32%;
}
form .input-container input:not([type="checkbox"]),
form .input-container textarea {
    display: block;
    width: 100%;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: 15px;
    color: #555;
    background: transparent;
    font-family: sans-serif;
}
form .input-container input:not([type="checkbox"]):focus,
form .input-container textarea:focus {
    outline: none;
    border-color: #eee;
}
body.dark form .input-container input:not([type="checkbox"]),
body.dark form .input-container textarea {
    border-color: #696969;
    color: #aaa;
}
form .input-container textarea {
    resize: vertical;
}
form .input-container textarea::-webkit-scrollbar {
    background: #fff;
    width: 10px;
}
form .input-container textarea::-webkit-scrollbar-thumb {
    background: #f7f7f7;
}
form .input-container textarea::-webkit-scrollbar-thumb:hover {
    background: #eee;
}
form .input-container textarea::-webkit-scrollbar-thumb:active {
    background: #d7d7d7;
}
form .input-container label {
    position: absolute;
    top: -20px;
    color: #aaa;
    transition: 0.25s linear;
    font-weight: 100;
}
form .input-container .line {
    display: block;
    height: 2px;
    background: #58a3bf;
    position: relative;
    top: -2px;
    transition: 0.25s ease;
    margin: auto;
    width: 0;
}
body.dark form .input-container .line {
    background: #3893e8;
}
form .input-container input:not([type="checkbox"]):focus + label,
form .input-container textarea:focus + label {
    color: #58a3bf;
}
body.dark form .input-container input:not([type="checkbox"]):focus + label,
body.dark form .input-container textarea:focus + label {
    color: #3893e8;
}
form .input-container input:not([type="checkbox"]):focus ~ .line,
form .input-container textarea:focus ~ .line {
    width: 100%;
}
form .checkbox-container {
    padding: 20px 0;
}
form .checkbox-container input[type="checkbox"] {
    position: absolute;
    left: -99999px;
}
form .checkbox-container input[type="checkbox"] ~ label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
form .checkbox-container .custom-checkbox {
    width: 30px;
    height: 10px;
    background: #eee;
    display: inline-block;
    border-radius: 3px;
    box-shadow: inset 0 1px 1px #ccc;
    cursor: pointer;
    margin-right: 20px;
    margin-left: 5px;
    transition: 0.25s ease;
}
body.dark form .checkbox-container .custom-checkbox {
    background: #686868;
    box-shadow: inset 0 1px 1px #333;
}
form .checkbox-container .custom-checkbox::after {
    content: "";
    height: 20px;
    width: 20px;
    background: #dedede;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    left: -5px;
    box-shadow: 0 0 5px #9a9a9a;
    transition: 0.25s ease;
    border: 1px solid #b3b3b3;
}
body.dark form .checkbox-container .custom-checkbox::after {
    background: #555;
    border-color: #777;
    box-shadow: 0 0 5px #333;
}
form .checkbox-container .custom-checkbox:hover::after {
    background: #ccc;
}
body.dark form .checkbox-container .custom-checkbox:hover::after {
    background: #5d5d5d;
}
form .checkbox-container input[type="checkbox"]:checked ~ .custom-checkbox {
    background: #89bacc;
}
body.dark form .checkbox-container input[type="checkbox"]:checked ~ .custom-checkbox {
    background: #77b1e6;
}
form .checkbox-container input[type="checkbox"]:checked ~ .custom-checkbox::after {
    left: 15px;
    background: #4e8794;
    box-shadow: 0 0 10px #58e7f9;
    border-color: #005e96;
}
body.dark form .checkbox-container input[type="checkbox"]:checked ~ .custom-checkbox::after {
    background: #3893e8;
    border-color: #91dbf7;
}
form .checkbox-container input[type="checkbox"]:checked ~ .custom-checkbox:hover::after {
    background: #58a3bf;
    border-color: #91dbf7;
}
body.dark form .checkbox-container input[type="checkbox"]:checked ~ .custom-checkbox:hover::after {
    background: #107de2;
    border-color: #80b9ef;
    box-shadow: 0 0 5px #58e7f9;
}
form .checkbox-container .checkbox-message {
    font-weight: 100;
    color: #333;
}
body.dark form .checkbox-container .checkbox-message {
    color: #ddd;
}
form .input-response {
    position: relative;
    top: -10px;
    font-weight: 400;
}
form .input-response:first-letter {
    text-transform: uppercase;
}
form .input-response.valid {
    color: #4caf50;
}
form .input-response.valid::before {
    font-family: "FontAwesome";
    content: "\f00c";
}
form .input-response.invalid {
    color: #e84438;
}
form .input-response.invalid::before {
    font-family: "FontAwesome";
    content: "\f00d";
}
form p {
    color: #999;
    font-weight: 100;
    margin: 5px 0;
}
