h1 {
    padding: 0 0 10px 3px;
    margin-bottom: 20px;
}
h1, h2 {
    border-bottom: 1px solid #ddd;
    font-weight: 100;
}
h2 {
    padding-bottom: 3px;
    margin-bottom: 10px;
}
body.dark h1,
body.dark h2 {
    border-color: #666;
}
p {
    line-height: 1.5em;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
}
.page a {
    transition: none;
}
.page a:hover,
body.dark .page a:hover {
    background: #3893e8;
    color: #fff;
}
.github {
    color: #545454;
}
body.dark .github {
    color: #999;
}
.github:hover {
    background: #545454 !important;
}
