.overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: none;
    position: fixed;
    transition: 0.25s ease;
    background: RGBa(0,0,0,0.3);
    z-index: 10;
}
.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0.8);
    background: #fbfbfb;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 10px  RGBa(0,0,0,0.4),
                5px 5px 100px 5px RGBa(0,0,0,0.2);
    max-width: 400px;
    display: none;
    transition: 0.1s ease;
}
body.dark .popup {
    background: #444;
}
.popup .input-container {
    margin-top: 0;
}
.popup .popup-title {
    margin: 3px;
    font-family: "Roboto",sans-serif;
    color: #555;
    padding-bottom: 10px;
    font-size: 30px;
    border-bottom: 1px solid #ddd;
}
body.dark .popup .popup-title {
    border-bottom-color: #555;
    color: #aaa;
}
.popup .popup-text {
    padding: 3px;
    color: #888;
    margin: 8px 0;
}
body.dark .popup .popup-text {
    color: #ddd;
}
.popup button {
    border: none;
    font-family: "Roboto";
    font-weight: 100;
    color: #fff;
    background-color: #aaa;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 3px;
    transition: 0.25s ease;
    box-shadow: 0 0 0 0 RGBa(0,0,0,0);
    margin-top: 10px;
}
body.dark .popup button {
    background-color: #777;
}
.popup .yes-button {
    margin-right: 10px;
}                       
.popup button:hover,
.popup button:focus {
    background-color: #888;
}
body.dark .popup button:hover,
body.dark .popup button:focus {
    background-color: #555;
}
.popup .no-button {
    opacity: 0.7;
}
.popup .close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 25px;
    color: #888;
    cursor: pointer;
}
.popup .close:hover {
    color: #777;
}
