.about {
    font-weight: 400;
    padding: 20px 10px;
}
.name {
    font-size: 20px;
    margin: 5px 0;
    color: #555;
    font-weight: 100;
    font-family: "Roboto",sans-serif;
}
body.dark .name {
    color: #aaa;
}
.main .block .block-title {
    margin: 5px 0 7px 0;
    color: #777;
}
body.dark .main .block .block-title {
    color: #999;
}
.main .block-title .state {
    font-size: 40px;
}
.main .block-title span {
    vertical-align: middle;
    display: inline-block;
}
.info-block {
    overflow: hidden;
}
.info-bar {
    display: flex;
    overflow: hidden;
}
.info-bar .info {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    position: relative;
    font-size: 14px;
}
.info-bar.info-color-change .info {
    background: #f6f6f6;
}
body.dark .info-bar.info-color-change .info {
    background: #424242;
}
.info-bar a.info {
    color: #888;
    transition: none;
}
body.dark .info-bar a.info {
    color: #ccc;
}
.info-bar a.info:hover {
    background: #f1f1f1;
}
body.dark .info-bar a.info:hover {
    background: #4f4f4f;
}
.info-bar .info .info-title,
.info-bar .info .icon-title {
    display: block;
}
.info-bar .info .icon-title {
    font-size: 20px;
}
.info-bar .info-details,
.info-bar .info .icon-title {
    color: #999; /* Conveniently works on both themes */
}
.info-bar .info .info-title {
    font-weight: 300;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}
.info-bar .info-details {
    display: block;
    margin: 7px 0;
}
.info-bar .info-value {
    font-size: 17px;
}
.other-profile-link {
    color: #888;
    font-weight: 400;
    display: block;
    width: 200px;
}
.puzzle-list {
    text-align: center;
}

/* Plotly styling */

#puzzleRating {
    margin-top: -50px;
    margin-bottom: -30px;
    min-height: 400px;
    position: relative;
}
.js-plotly-plot .main-svg {
    background: transparent !important;
}
text {
    fill: #777 !important;
}
body.dark text {
    fill: #aaa !important;
}
.axistext path {
    stroke: rgb(197, 197, 197) !important;
    fill: #eee !important;
    color: #888;
}
body.dark .axistext path {
    stroke: rgb(101, 94, 94) !important;
    fill: #444 !important;
}
.hovertext path {
    fill: #3893e8 !important;
}
.hovertext path {
    stroke: #3893e8 !important;
}
.axistext text {
    fill: #888 !important;
}
body .hovertext text,
.axistext text {
    font-weight: 100 !important;
    font-family: "Roboto",sans-serif !important;
}
body.dark .axistext text,
body .hovertext text {
    fill: #fff !important;
}
.bg {
    fill: transparent !important;
}
body.dark .crisp {
    stroke: #555 !important;
}
.crisp.zl {
    stroke: #999 !important;
}
body.dark .crisp.zl {
    stroke: #777 !important;
}
.js-plotly-plot .plotly .modebar {
    display: none;
}
.rangeslider-mask-min,
.rangeslider-mask-max {
    fill-opacity: 0.2 !important;
}
.rangeslider-bg {
    fill: transparent;
}
.rangeslider-handle-min,
.rangeslider-handle-max {
    fill: #3893e8 !important;
    stroke: transparent !important;
}
.point {
    fill: #3893e8 !important;
}
.js-line {
    stroke: #3893e8 !important;
}
